<div class="panel panel-primary">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left"><%=report.title%></h3>
    <span class="label label-default pull-right"><%=report.types_id%></span>
  </div>
  <div class="panel-body">
    <%=report.description%>
  </div>
  <table class="table">
      <thead>
        <tr>
          <th colspan="2">Logg</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%=report.status%></td>
          <td><%=report.added%></td>
        </tr>
      </tbody>
    </table>
</div>
<% console.log(report); %>
