<div class="row" id="reports">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Nya rapporter</h4>
      </div>
      <div class="list-group">

        <% $(reports).each(function(i, report) { %>
        <%
          switch (report.status_id) {
            case 2:
              // Handläggs
              report.badgeClass = "label-info";
              break;
            case 3:
              // Behandlas
              report.badgeClass = "label-info";
              break;
            case 4:
              // Åtgärdad
              report.badgeClass = "label-success";
              break;
            case 5:
              // Åtgärdas ej
              report.badgeClass = "label-danger";
              break;
            case 1:
            default:
              // Ej granskad
              report.badgeClass = "label-info";
          }
        %>
        <a href="#/reports/<%=report.id%>" class="list-group-item">
          <span class="label <%=report.badgeClass%>"><%=report.status%></span>
          <h4 class="list-group-item-heading"><%=report.title%></h4>
          <p class="list-group-item-text"><strong><%=report.type%>:</strong> <%=report.description%></p>
        </a>
        <% }); // $(reports).each() %>

      </div>
    </div>
    <div class="text-center">
      <span class="glyphicon glyphicon-thumbs-up" style="font-size:72px;"></span><br>
      <strong>Slut på rapporter</strong>
    </div>
  </div>
</div>
