<%
  switch (report.status_id) {
    case 2:
      // Handläggs
      report.badgeClass = "label-info";
      break;
    case 3:
      // Behandlas
      report.badgeClass = "label-primary";
      break;
    case 4:
      // Åtgärdad
      report.badgeClass = "label-success";
      break;
    case 5:
      // Åtgärdas ej
      report.badgeClass = "label-warning";
      break;
    case 1:
    default:
      // Ej granskad
      report.badgeClass = "label-default";
  }
%>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <span class="label <%=report.badgeClass%> pull-right"><%=report.status%></span>
    <h3 class="panel-title"><%=report.type%></h3>
  </div>
  <div class="panel-body">
    <%=report.description%>
  </div>
  <div>
    KARTA
  </div>
  <table class="table">
      <thead>
        <tr>
          <th colspan="2">Logg</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%=report.status%></td>
          <td><%=report.added%></td>
        </tr>
      </tbody>
    </table>
</div>
<% console.log(report); %>
